@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:  #333333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*.col-md-3 {
    border: 1px solid black;
}

.col-md-9 {
    border: 1px solid black;
}*/

#nav {
    position: sticky;
    top: 0px;
    width: auto;
    height: 800px;
}

.nav-bar {
    color: #008ae6;
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
    /*cursor: pointer;*/
}

.nav-bar:hover, .nav-bar:active {
    color: #007acc;
}

header {
    position: relative;
    top: 8%;
    padding-left: 25%;
    width: 110%;
    height: 80%;

    border-right: 2px dashed  #cccccc;
}

div.contact {
    position: absolute;
    bottom: 1%;
}

span {
    display: block;
    margin-top: 10px;
}

a {
    color: #a6a6a6;
}

a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: #007acc;
}

h1 {
    color: #008ae6;
    font-size: 1.7em;
}

h1 > a {
    color: #008ae6;
    text-decoration: none;
}

h1 > a:hover {
    color: #007acc;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 8px;
}

li.links > a {
    font-size: 1.2em;
    color: #a6a6a6;
    text-decoration: none;
}

li > a:hover {
    color: #007acc;
}

#main, #code, #creative, #art {
    position: relative;
    top: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    text-align: center;

    border-bottom: 1px solid #cccccc;
}

#code, #creative, #art  {
    margin-top: 80px;
}

#profilePic {
    padding: 5px;
    border:none;
    outline: none;
}

#intro {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    color: #008ae6;
    font-size: 1.2em;
}

div#skill-sets {
    margin-left: 10px;
    height: 200px;
}

div.skills {
    float: left;
    width: 33%;
    margin-left: -9px;
}

p {
    margin-top: 20px;
}
/*#courses-list {
    margin: auto;
    padding-left: 0;
    height: 250px;
}*/


ul#code-projects {
    padding: 0;
}

ul#code-projects > li {
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.projectPics {
    margin: auto;
    margin: 10px 0;
    filter: grayscale(70%);
    opacity: 0.8;
    border: 2px solid #cccccc;
}

.projectPics:hover {
    filter: grayscale(0%);
    opacity: 1;
}

h3 {
    color: gray;
    font-size: 1.2em;
}

h3:hover {
    color: #007acc;
}

h4 {
    color: gray;
    font-size: 1em;
}

.creatives, .arts {
    width: 80%;
    margin:auto;
    margin-top: 70px;
}

.creatives > img, .arts > img {
    margin: auto;
    margin: 10px 0;
    border: 2px solid #cccccc;
}

footer {
    position: relative;
    color: #a6a6a6;
    font-size: 0.8em;
    top: 97%;
    width: 200px;
    margin: auto;
}

@media only screen and (max-width: 1300px) {
    header {
        padding-left: 15%;
    }
    h1#name {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 980px) {

    #nav {
        position:fixed;
        background-color: #e6e6e6;
        z-index: 1;
        left: -15em;
        height: 100%;
    }

    .nav-transform {
        transition: transform;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    .nav-transform:hover {
        transform: translateX(15em);
    }

    header {
        padding-right: 20px;
        top: 90px;
        z-index: 2;
        border: none;
    }
    .nav-bar {
        display: block;
        z-index: 2;
    }

    li > a, a.contact-link {
        color: #a6a6a6;
    }

    li > a:hover, a.contact-link:hover {
        color: #007acc;
    }

    #main, #code, #creative, #art {
        width: 150%;
        left: -43%;
        z-index: 0;
    }
}

@media only screen and (max-width: 768px) {
    ul {
        padding-left: 0;
    }
    div#skill-sets {
        height: 480px;
    }
    div.skills {
        float: none;
        width: 100%;
        margin-left: -5px;
    }

    #main, #code, #creative, #art {
        width: 100%;
        left: 0;
}
