@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:  #333333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#nav {
    position: fixed;
    width: 15em;
    height: 110%;
}

.nav-bar {
    color: #008ae6;
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
    /*cursor: pointer;*/
}

.nav-bar:hover, .nav-bar:active {
    color: #007acc;
}

header {
    display: block;
    position: relative;
    top: 4%;
    left: 40%;
    padding: 5px;
    padding-top: 0;
    width: 16em;
    height: 80%;
    float: left;

    border-right: 2px dashed  #cccccc;
}

div.contact {
    position: absolute;
    bottom: 3%;
}

span {
    display: block;
    margin-top: 10px;
}

a {
    color: #a6a6a6;
    text-decoration: none;
}

a:hover {
    color: #007acc;
}

h1 {
    color: #008ae6;
    font-size: 1.7em;
}

h1 > a {
    color: #008ae6;
    text-decoration: none;
}

h1 > a:hover {
    color: #007acc;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 8px;
}

li.links > a {
    font-size: 1.2em;
    color: #a6a6a6;
    text-decoration: none;
}

li > a:hover {
    color: #007acc;
}

#main {
    position: relative;
    left: 30%;
    top: 50px;
    padding:10px;
    padding-bottom: 100px;
    width: 65%;
    height: auto;
    text-align: center;

    border-bottom: 1px solid #cccccc;
}

#profilePic {
    padding: 5px;
    border:none;
    outline: none;
}

#intro {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    color: #008ae6;
    font-size: 1.2em;
}

div#skill-sets {
    height: 200px;
}

div.skills {
    float: left;
    width: 30%;
    margin-left: 1%;
    margin-right: 8px;
}

/*#courses-list {
    margin: auto;
    padding-left: 0;
    height: 250px;
}*/

#code, #creative, #art {
    position: relative;
    left: 30%;
    margin-top: 100px;
    padding: 5px;
    padding-bottom: 100px;
    width: 65%;
    height: auto;
    text-align: center;

    border-bottom: 1px solid #cccccc;
}

#code {
    margin-top: 150px;
}

ul#code-projects {
    padding: 0;
}

ul#code-projects > li {
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.projectPics {
    margin: auto;
    filter: grayscale(70%);
    opacity: 0.8;
    border: 2px solid #cccccc;
}

.projectPics:hover {
    filter: grayscale(0%);
    opacity: 1;
}

h3 {
    color: gray;
    font-size: 1.2em;
}

h3:hover {
    color: #007acc;
}

h4 {
    color: gray;
    font-size: 1em;
}

.creatives, .arts {
    width: 80%;
    margin:auto;
    margin-top: 70px;
}

.creatives > img, .arts > img {
    border: 2px solid #cccccc;
    margin-top: 10px;
}

footer {
    position: relative;
    color: #a6a6a6;
    font-size: 0.8em;
    top: 97%;
    width: 200px;
    margin: auto;
}

@media only screen and (max-width: 1300px) {
    header {
        display: block;
        left: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        display: block;
        left:12%;
        width: 85%;
    }
    h1 {
        font-size: 1.3em;
    }

    li > a, div.contact{
        font-size: 1em;
    }

    div.skills {
        margin-right: 0;
    }
}

@media only screen and (max-width: 950px) {

    #nav {
        background-color: #e6e6e6;
        z-index: 1;
        left: -15em;
    }

    .nav-transform {
        transition: transform;
        transition-duration: 0.7s;
        transition-timing-function: linear;
    }

    .nav-transform:hover {
        transform: translateX(15em);
    }

    header {
        top: 70px;
        left: 20px;
        z-index: 2;
        border: none;
    }
    .nav-bar {
        display: block;
        z-index: 2;
    }

    li > a, a.contact-link {
        color: #a6a6a6;
    }

    #main, #code, #creative, #art {
        width: 90%;
        left: 4%;
        z-index: 0;
    }
}

@media only screen and (max-width: 680px) {
    ul {
        padding-left: 0;
    }
    div#skill-sets {
        height: 480px;
    }
    div.skills {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    #main, #code, #creative, #art {
        left: 2%;
    }
}
