@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:  #333333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#nav {
    position: fixed;
    width: 15em;
    height: 110%;
}

.nav-bar {
    color: #008ae6;
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
    /*cursor: pointer;*/
}

.nav-bar:hover, .nav-bar:active {
    color: #007acc;
}

header {
    display: block;
    position: relative;
    top: 30px;
    left: 40%;
    padding: 5px;
    width: 15em;
    height: 100%;
    float: left;
}

div.contact {
    position: absolute;
    bottom: 20%;
}

span {
    display: block;
    margin-top: 10px;
}

a.contact-link {
    color: #a6a6a6;
    text-decoration: none;
}

a.contact-link:hover {
    color: #007acc;
}

h1 {
    font-size: 1.7em;
}

h1 > a {
    color: #008ae6;
    text-decoration: none;
}

h1 > a:hover {
    color: #007acc;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 8px;
}

li > a {
    font-size: 1.2em;
    color: #a6a6a6;
    text-decoration: none;
}

li > a:hover {
    color: #007acc;
}

#main {
    position: absolute;
    right: 5%;
    top: 60px;
    padding:10px;
    width: 65%;
    height: auto;
    text-align: center;

    border-left: 2px dashed  #cccccc;
}

#profilePic {
    padding: 5px;
    border:none;
    outline: none;
}

#intro {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    color: #008ae6;
    font-size: 1.2em;
}

div.skills {
    float: left;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    position: relative;
    color: #a6a6a6;
    font-size: 0.8em;
    top: 97%;
    width: 200px;
    margin: auto;
}

@media only screen and (max-width: 1300px) {
    header {
        display: block;
        left: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        display: block;
        left:12%;
    }
    h1 {
        font-size: 1.3em;
    }

    li > a, div.contact{
        font-size: 1em;
    }
}

@media only screen and (max-width: 950px) {

    #nav {
        background-color: #e6e6e6;
        z-index: 1;
        left: -15em;
    }

    .nav-transform {
        transition: transform;
        transition-duration: 0.7s;
        transition-timing-function: linear;
    }

    .nav-transform:hover {
        transform: translateX(15em);
    }

    header {
        top: 50px;
        left: 20px;
        z-index: 2;
    }
    .nav-bar {
        display: block;
        z-index: 2;
    }

    li > a, a.contact-link {
        color: #a6a6a6;
    }

    #main {
        width: 90%;
        border-left: none;
        z-index: 0;
    }

}
